 <launch>
  <node pkg="quadrotor_simulator"
        name="quadrotor"
        type="quadrotor_simulator"
        output="screen">
    <param name="model_file"
           value="$(find QuadrotorSimulator)/models/hummingbird.xml"/>
    <param name="init/z" value="2.0"/>
  </node>

  <node pkg="simple_feedback_control"
        name="simple_feedback_control"
        type="simple_feedback_control"
        output="screen">
    <remap from="~cmd_dm" to="/quadrotor/cmd_dm"/>
    <remap from="~cmd_hw" to="/quadrotor/cmd_hw"/>
    <remap from="~odom" to="/quadrotor/odom"/>
  </node>

  <node pkg="vis_nodes"
        name="odometry"
        type="odometry"
        output="screen">
    <param name="~tf_prefix" value="quadrotor"/>
    <remap from="~odometry" to="/quadrotor/odom"/>
    <param name="mailbox" value="/odometry" type="string"/>
  </node>
</launch>
