<launch>
  <node pkg="quadrotor_simulator"
        name="simulator"
        type="multi_quadrotor_simulator"
        output="screen">
    <param name="model_file"
           value="$(find
                  QuadrotorSimulator)/models/hummingbird.xml"/>
    <param name="count" value="6"/>

    <param name="quadrotor0/init/x" value="1.0"/>
    <param name="quadrotor0/init/y" value="-1.0"/>
    <param name="quadrotor0/init/z" value="1.0"/>

    <param name="quadrotor1/init/x" value="0"/>
    <param name="quadrotor1/init/y" value="-1.0"/>
    <param name="quadrotor1/init/z" value="1.0"/>

    <param name="quadrotor2/init/x" value="-1.0"/>
    <param name="quadrotor2/init/y" value="-1.0"/>
    <param name="quadrotor2/init/z" value="1.0"/>

    <param name="quadrotor3/init/x" value="1.0"/>
    <param name="quadrotor3/init/y" value="1.0"/>
    <param name="quadrotor3/init/z" value="1.0"/>

    <param name="quadrotor4/init/x" value="0"/>
    <param name="quadrotor4/init/y" value="1.0"/>
    <param name="quadrotor4/init/z" value="1.0"/>

    <param name="quadrotor5/init/x" value="-1.0"/>
    <param name="quadrotor5/init/y" value="1.0"/>
    <param name="quadrotor5/init/z" value="1.0"/>
  </node>

  <node pkg="ipc_bridge_ros"
        name="asctec_PDCmd_subscriber"
        type="asctec_PDCmd_subscriber"
        output="screen">
    <remap from="~topic" to="/simulator/quadrotor0/cmd_pd"/>
    <param name="message" value="cmd_pd"/>
  </node>

  <node pkg="ipc_bridge_ros"
  	name="nav_msgs_Odometry_publisher"
	type="nav_msgs_Odometry_publisher"
	output="screen">
    <remap from="~topic" to="/simulator/quadrotor0/odom"/>
    <param name="message" value="odom"/>
  </node>

  <node pkg="vis_nodes"
        name="odometry0"
        type="odometry"
        output="screen">
    <remap from="~odometry" to="/simulator/quadrotor0/odom"/>
    <param name="mailbox" value="quadrotor0" type="string"/>
  </node>

  <node pkg="vis_nodes"
        name="odometry1"
        type="odometry"
        output="screen">
    <remap from="~odometry" to="/simulator/quadrotor1/odom"/>
    <param name="mailbox" value="quadrotor1" type="string"/>
  </node>

  <node pkg="vis_nodes"
        name="odometry2"
        type="odometry"
        output="screen">
    <remap from="~odometry" to="/simulator/quadrotor2/odom"/>
    <param name="mailbox" value="quadrotor2" type="string"/>
  </node>

  <node pkg="vis_nodes"
        name="odometry3"
        type="odometry"
        output="screen">
    <remap from="~odometry" to="/simulator/quadrotor3/odom"/>
    <param name="mailbox" value="quadrotor3" type="string"/>
  </node>

  <node pkg="vis_nodes"
        name="odometry4"
        type="odometry"
        output="screen">
    <remap from="~odometry" to="/simulator/quadrotor4/odom"/>
    <param name="mailbox" value="quadrotor4" type="string"/>
  </node>

  <node pkg="vis_nodes"
        name="odometry5"
        type="odometry"
        output="screen">
    <remap from="~odometry" to="/simulator/quadrotor5/odom"/>
    <param name="mailbox" value="quadrotor5" type="string"/>
  </node>
</launch>
