<launch>
  <node pkg="quadrotor_simulator"
        name="simulator"
        type="quadrotor_simulator"
        output="screen">
    <rosparam file="$(find quadrotor_simulator)/config/hummingbird.yaml"/>
    <param name="init/z" value="2.0"/>
    <param name="init/roll" value="0"/>
    <param name="init/pitch" value="0"/>
    <param name="init/yaw" value="0"/>
  </node>

  <node pkg="vis_nodes"
        name="odometry"
        type="odometry"
        output="screen">
    <remap from="~topic" to="/simulator/quadrotor/odom"/>
    <param name="mailbox" value="odom"/>
  </node>

  <node pkg="ipc_nav_msgs"
        type="nav_msgs_Odometry_publisher"
        name="matlab_odom"
        output="screen">
    <remap from="~topic" to="/simulator/quadrotor/odom"/>
    <param name="message" value="odom"/>
  </node>

  <node pkg="asctec"
        type="asctec_Command_subscriber"
        name="matlab_cmd"
        output="screen">
    <remap from="~topic" to="/simulator/quadrotor/cmd"/>
    <param name="message" value="cmd"/>
  </node>
</launch>
